.full_body {
  background-color: #ffe3e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes logoanimated {
  from {
    transform: rotate(180deg) scale(1) translatey(0px);
    visibility: hidden;
  }
  to {
    transform: translatey(40vh) scale(4);
    visibility: visible;
    opacity: 1%;
  }
}
.logo {
  transform: translateX(100%);
  width: 90px;
  animation-name: logoanimated;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  visibility: hidden;
  z-index: 999;
}

@keyframes logoanimated1 {
  from {
    visibility: hidden;
    opacity: 8%;
  }
  to {
    visibility: visible;
  }
}

.logo1 {
  width: 50vh;
  animation-name: logoanimated1;
  animation-timing-function: ease;
  animation-duration: 10s;
}

.website {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: gray;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  animation-name: logoanimated1;
  animation-timing-function: ease;
  animation-duration: 10s;
}
